<form>
    <div class="form-group">
        <span >
            <input type="text" class="form-control" placeholder="Search by name" name="pilotName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()">
        </span>
    </div>
</form>

<table st-table="_ctrl.pilots" class="table table-striped" >
    <thead>
    <tr>
        <th st-sort="firstname">First Name</th>
        <th st-sort="lastname">Last Name</th>
        <th st-sort="club">Club</th>
        <th st-sort="country">Country</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in _ctrl.pilots" ng-click="_ctrl.selectPilot(p, $index)" ng-dblclick="_ctrl.viewPilot()">
        <td>{{ p.firstname }}</td>
        <td>{{ p.lastname }}</td>
        <td>{{ p.club }}</td>
        <td>{{ p.country }}</td>
        <td>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ui-sref="pilots.edit({pilot_id: p.id}) ">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="_ctrl.viewPilot()">
                        <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal for displaying the messages -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="Pilot Details" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Pilot Details</h5>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                            {{ _ctrl.selected.firstname }} {{ _ctrl.selected.lastnamename }}
                    </div>
                    <div class="form-groups">
                        <label>Alias/Nickname</label>
                            {{ _ctrl.selected.alias }}
                    </div>
                    <div class="form-group">
                        <label>Club: </label>{{ _ctrl.selected.club }}
                    </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>