        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title"></h5>
              <span class="nav-group-item active" ui-sref="events_new" ui-sref-active="active">
                New Event
              </span>
              <span class="nav-group-item" ui-sref="events_next" ui-sref-active="active">
                Upcoming Events
              </span>
              <span class="nav-group-item" ui-sref="events_past" ui-sref-active="active">
                Past Events
              </span>
            </nav>
          </div>

          <div class="pane">

      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">

          <button class="btn btn-large btn-primary pull-left" ui-sref="events_new" ui-sref-active="active">Event</button>
          <button class="btn btn-large btn-primary pull-left" ui-sref="events_new_pilots" ui-sref-active="active">Pilots</button>
          <button class="btn btn-large btn-primary pull-left" ui-sref="events_new_race" ui-sref-active="active">Race</button>
          <button class="btn btn-large btn-primary pull-left" ui-sref="events_new_rounds" ui-sref-active="active">Rounds</button>

        </div>
      </header>

        Add event pilots page here...

          </div>
        </div>

