        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title"></h5>
              <span class="nav-group-item" ui-sref="pilots_new" ui-sref-active="active">
                New Pilot
              </span>
              <span class="nav-group-item" ui-sref="pilots_list" ui-sref-active="active">
                List Pilots
              </span>
            </nav>
          </div>

          <div class="pane">

            <form>
              <div class="form-group">
                <label>Search</label>
                <input type="text" class="form-control" placeholder="Search by name" name="pilotName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()">
              </div>

            </form>
            <table class="table-striped" >
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Club</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="p in _ctrl.pilots" ng-click="_ctrl.selectPilot(p, $index)" ng-dblclick="_ctrl.viewPilot()">
                  <td>{{ p.firstname }}</td>
                  <td>{{ p.lastname }}</td>
                  <td>{{ p.club }}</td>
                  <td>{{ p.country }}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
