        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title"></h5>
              <span class="nav-group-item">
                Database
              </span>
              <span class="nav-group-item">
                Sound
              </span>
              <span class="nav-group-item">
                Comunication
              </span>
              <span class="nav-group-item active" ui-sref="settings_testing" ui-sref-active="active">
                Testing
              </span>
            </nav>
          </div>

          <div class="pane">

<div style="width:100%; height:100%" layout="row">
    <sidenav class="site-sidenav sidenav-left whiteframe-z2"
                component-id="left"
                is-locked-open="$mdMedia('gt-sm')">

        <toolbar layout="row" class="whiteframe-z1">
            <h1>Pilots</h1>
        </toolbar>
        <input-container style="margin-bottom:0">
            <label>Pilot Name</label>
            <input required name="customerName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()">
        </input-container>
        <list>
            <list-item ng-repeat="it in _ctrl.customers">
                <button ng-click="_ctrl.selectCustomer(it, $index)" ng-class="{'selected' : it === _ctrl.selected }">
                    {{it.name}}
                </button>
            </list-item>
        </list>
    </sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="whiteframe-z2">

        <toolbar layout="row" class="whiteframe-z1">
            <button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <icon svg-icon="menu"></icon>
            </button>
            <h1>{{ _ctrl.selected.name }}</h1>
        </toolbar>

        <content flex id="content">
            <div layout="column" style="width:50%">
                <br />
                <content layout-padding class="autoScroll">
                    <input-container>
                        <label>Name</label>
                        <input ng-model="_ctrl.selected.name" type="text">
                    </input-container>
                    <input-container no-float>
                        <label>Email</label>
                        <input ng-model="_ctrl.selected.email" type="text">
                    </input-container>
                    <input-container>
                        <label>Address</label>
                        <input ng-model="_ctrl.selected.address"  ng-required="true">
                    </input-container>
                    <input-container no-float>
                        <label>City</label>
                        <input ng-model="_ctrl.selected.city" type="text" >
                    </input-container>
                    <input-container no-float>
                        <label>Phone</label>
                        <input ng-model="_ctrl.selected.phone" type="text">
                    </input-container>
                </content>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <button class="raised info" ng-click="_ctrl.createCustomer()">Add</button>
                    <button class="raised primary" ng-click="_ctrl.saveCustomer()">Save</button>
                    <button class="raised danger" ng-click="_ctrl.cancelEdit()">Cancel</button>
                    <button class="raised warn" ng-click="_ctrl.deleteCustomer()">Delete</button>
                </section>
            </div>
        </content>
    </div>
</div>

          </div>
        </div>
