<table class="table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Event A</td>
        <td>Document</td>
        <td>Oct 13, 2015</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Event B</td>
        <td>Document</td>
        <td>Oct 13, 2015</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Event C</td>
        <td>Document</td>
        <td>Oct 13, 2015</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Event D</td>
        <td>Document</td>
        <td>Oct 13, 2015</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Event F</td>
        <td>Document</td>
        <td>Oct 13, 2015</td>
        <td>View</td>
    </tr>
    </tbody>
</table>