<header class="toolbar toolbar-header">
    <div class="toolbar-actions">

        <button class="btn btn-large btn-primary pull-left" ui-sref="events.new.event" ui-sref-active="{'active': 'events.new.event.**'}">Event</button>
        <button class="btn btn-large btn-primary pull-left" ui-sref="events.new.pilots" ui-sref-active="active">Pilots</button>
        <button class="btn btn-large btn-primary pull-left" ui-sref="events.new.races" ui-sref-active="active">Races</button>
        <!--<button class="btn btn-large btn-primary pull-left" ui-sref="events.new.rounds" ui-sref-active="active">Rounds</button>-->

    </div>
</header>

<div ui-view></div>